

.katalog-image {
	width: 170px;
	height: 170px;

	display: flex;
    justify-content: center;
    align-items: center;

}

.katalog-image img {
	width: 120px;
	height: 120px;
}

.katalog-content {
	display: flex;
	border: 1px solid #eaeef1;
	align-items: center;
}

.katalog-info {
	display: flex;
	flex-direction: column;

	
}

.katalog-item-count {
	margin-left: 4px;
	color: rgb(221, 149, 149);

	display: inline;
}

.katalog-info span {
	@include font($height: 2.1rem, $size: 2.0rem, $weight: normal);

}



.katalog-item-name {
	font-weight: bold;
	color: black;

	margin: 8px 0;
}

.katalog-item-count:hover {
	color: rgb(148, 144, 144);
}

.katalog-info-item {
	padding: 4px 0;
}




.katalog-info {
	word-wrap: break-word;


	justify-content: center;
}


.active a {
	color: #94c3c2!important;
    background: none!important;
}


.sorting-bot .pagination {
    padding: 2px 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.sorting-bot .sorting_icon_group {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
	color: #cad1da;
}

.katalog-info {
	font-weight: 300;
}