
.medicine-group-search {
	padding:10px 0
}
.medicine-group-search .hgroup {margin-bottom:26px}
.medicine-group-search_item {
	margin-bottom:18px;
	padding:10px 0
}

.medicine-group-search_item ul li {
	margin:0 0 9px 0;
	position:relative;
}
.medicine-group-search_item ul li a {
	color:#222222;
	text-decoration:none;
}

.medicine-group-search_item ul li [class^="icon-"], .medicine-group-search_item ul li [class*="icon-"]  {
	-ms-flex-basis:66px;
	-webkit-flex-basis:66px;
	flex-basis:66px;
	min-width:40px;
	width:40px;
	height: 40px;
	font-size:30px;
	text-align:center;
	top:0;
    margin:0;
}
.medicine-group-search_item ul li span {
	display:inline-block;
	background:#e9fafa;
	padding:7px 24px;
	width:calc(100% - 78px);
	width:-moz-calc(100% - 78px);
	width:-webkit-calc(100% - 78px);
}


li span {
	@include font($size: 1.4rem, $height: 2.6rem, $weight: normal);
}



.container-fluid {max-width:1400px}

.text-center {
    font-size: 24px;
    line-height: 1.2em;
    text-transform: uppercase;
    display: block;
    letter-spacing: 4px;
    padding: 6px 0;
    margin-bottom: 10px;
    font-weight: 400;
}

.layout-3-column {
	justify-content: center;
}
