@charset "utf-8";
@import url("flexslider.css?v=3");
@import url("font-awesome.min.css");
@import url("jquery.formstyler.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
strong, b{ font-weight: bold;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble-webfont.woff2') format('woff2'),
         url('../fonts/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble-webfont.ttf') format('truetype'),
         url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.rub {
	font-family: 'als_rublregular';
	font-weight:normal!important;
	font-size:0.9em
}
@font-face {
    font-family: 'GothamProBlack';
    src: url('../fonts/GothamProBlack.eot');
    src: url('../fonts/GothamProBlack.eot') format('embedded-opentype'),
         url('../fonts/GothamProBlack.woff2') format('woff2'),
         url('../fonts/GothamProBlack.woff') format('woff'),
         url('../fonts/GothamProBlack.ttf') format('truetype'),
         url('../fonts/GothamProBlack.svg#GothamProBlack') format('svg');
}
@font-face {
	  font-family: 'fontello';
	  src: url('../fonts/fontello.eot?24995921');
	  src: url('../fonts/fontello.eot?24995921#iefix') format('embedded-opentype'),
		   url('../fonts/fontello.woff2?24995921') format('woff2'),
		   url('../fonts/fontello.woff?24995921') format('woff'),
		   url('../fonts/fontello.ttf?24995921') format('truetype'),
		   url('../fonts/fontello.svg?24995921#fontello') format('svg');
	  font-weight: normal;
	  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	vertical-align:middle;
	position:relative;
	top:-3px;
	margin-right:4px
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  vertical-align:middle;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration:none;
  position:relative
}
html {height: 100%}
body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:#ffffff;
	color:#222222;
	font-size:16px;
	line-height:1.4em;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	-webkit-font-smoothing: antialiased
}
p{padding:6px 0}
.clear {
  clear: both;
  display: block
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after {clear: both}
/* ----style-form---*/
::-webkit-input-placeholder { color:#adbcd3}
:-moz-placeholder { color:#adbcd3}
.placeholder { color:#adbcd3}
*:focus::-moz-placeholder { color: transparent !important;}
*[autofocus]::-moz-placeholder:focus { color: graytext !important;}
*:focus:-moz-placeholder { color: transparent !important;}
*[autofocus]:-moz-placeholder:focus { color: graytext !important;}
*:focus::-webkit-input-placeholder { color: transparent !important;}
*[autofocus]::-webkit-input-placeholder { color: graytext !important;}
input, textarea, a {outline:none}
:focus {outline:none}
a:visited,a:focus  {outline:none}
/*h1,.h1 {
	font-size:24px;
	line-height:1.2em;
	text-transform:uppercase;
	display:block;
	letter-spacing:4px;
	padding:6px 0;
	margin-bottom:10px;
	font-weight:400
} */
.h1 {
	font-size:24px;
	line-height:1.2em;
	text-transform:uppercase;
	display:block;
	letter-spacing:4px;
	padding:6px 0;
	margin-bottom:10px;
	font-weight:400
}
h1, .h1-count {
	font-size:24px;
	line-height:1.2em;
	display:inline-block;
	padding:6px 0;
	margin-bottom:10px;
	font-weight:400
}
.drop-down-sections-top .h1, .search-all .dropdown-menu .h1 {font-weight:700;color:#1b9fa7;margin-bottom:30px}
.dropdown-menu .h1 a {color:#1b9fa7;text-decoration:none}
.dropdown-menu h1, .dropdown-menu .h1 {color:#1b9fa7;margin-bottom:20px}
h2,.h2 {
	font-size:20px;
	line-height:1.3em;
	text-transform:uppercase;
	display:block;
	letter-spacing:4px;
	padding:6px 0;
	margin-bottom:10px
}
h1, .h1 {margin:0 0 10px}
h1 b, .h1 b {font-weight:900}
h3,.h3 {
	font-size:18px;
	line-height:1.2em;
	padding:4px 0
}
.hgroup h1, .hgroup .h1 {margin-bottom:6px}
.inline-hgroup h1, .inline-hgroup .h1 {
	display:inline-block;
	vertical-align:middle;
	margin:0 20px 0 0
}
.inline-hgroup {margin-bottom:10px}
/* header */
.header {
	width:100%;
	/*padding-top:66px;*/
	position:relative;
	z-index:8
}
.top-header {
	/* background:#baeceb; */
	padding:12px 0;
	/*position:fixed;*/
	width:100%;
	left:0;top:0;
	z-index:6
}
.b-top-logo {
	padding-top:3px;
	white-space:nowrap
}
.b-top-logo:after {
  content: " ";
  display: table
}
.b-top-logo:after {clear: both}
.list-sections-top {
	position:relative;
	z-index:5;
	display:inline-block;
	vertical-align:middle;
	white-space:normal
}
.add-list-sections {
	width:50px;
	max-width:50px;
	height:38px;
	font-size:34px;
	line-height:22px;
	border:2px solid transparent;
	color:#71bdbc;
	border-bottom:0;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	position:relative;
	z-index:3;
	cursor:pointer;
	font-family:verdana;
	text-shadow:1px 1px 4px #fff;
}
.add-list-sections.open {
	border-color:#70c4c3;
	background:#fff
}
.add-list-sections:before {
    content: '\2261';
	display:inline-block;
	vertical-align:middle
}
.drop-down-sections-top {
	width: 600px;
	border:2px solid #70c4c3;
	background:#fff;
	position:absolute;
	left:0;top:100%;
	padding:18px 40px;
	margin-top:-2px;
	font-size:18px;
	line-height:1.3em;
	font-weight:400;
	display:none
}
.drop-down-sections-top ul{margin-bottom:30px}
.drop-down-sections-top li {padding:4px 0}
.drop-down-sections-top a {
	color:#000;
	text-decoration:none
}
.header .logo {
	display:inline-block;
	text-decoration:none;
	position:relative
}
.top-header .logo {
	margin-top:2px;
	display:inline-block;
	vertical-align:middle
}
.top-header .logo img {
	width:100%;
	max-height:100%
}

.group-menu-search {
	padding-top:3px;
	text-align:center
}
.menu-top {
	font-size:14px;
	line-height:1.2em;
	text-transform:uppercase;
	display:inline-block;
	vertical-align:middle;
	font-family: 'Roboto Condensed', sans-serif
}
.menu-top ul li {
	padding:0 10px
}
.menu-top a {
	text-shadow:1px 1px 4px #fff;
	text-decoration:none;
	color:#7ca0b2
}

.in-sity {
	font-size:14px;
	line-height:1.2em;
	display:inline-block;
	vertical-align:middle;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform:uppercase;
	margin-right:16px;
}
.in-sity > a {
	text-decoration:none;
	color:#7ca0b2;
	height:42px;
	line-height:45px;
	display:inline-block;
	vertical-align:middle;
	text-shadow:1px 1px 4px #fff;
	position:relative;
	padding-left:44px
}
.in-sity > a:before {
	content:'\f007';
	color:#a0dedd;
	font-size:46px!important;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	position:absolute;
	left:0;top:-3px
}

.basket-link {
	display:inline-block;
	vertical-align:middle;
	margin-left:10px
}
.basket-link a {text-decoration:none}
.basket-link .price {
	font-size:24px;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.basket-link_icon {
	display:inline-block;
	vertical-align:middle;
	height:42px;
	width:56px;
	position:relative;
	text-align:center;
	line-height:41px;
	margin-right:18px
}
.basket-link_icon:before {
	content:'\f07a';
	color:#a0dedd;
	font-size:52px!important;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-shadow:1px 1px 4px #fff
}
.quantity-basket {
	width:30px;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	background:#ffde00;
	color:#000;
	text-align:center;
	line-height:30px;
	font-size:16px;
	border-radius:50%;
	font-weight:400;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.basket-link_icon .quantity-basket, .like-icon .quantity-basket {
	position:absolute;
	right:-14px;top:-1px
}
.like-icon {
	display:inline-block;
	vertical-align:middle;
	width:46px;
	height:42px;
	position:relative;
	text-align:center;
	line-height:41px;
	text-decoration:none;
	margin-right:18px;
	text-decoration:none;
	outline:none
}
.like-icon:before {
	content:'\f004';
	color:#a0dedd;
	font-size:50px!important;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-shadow:1px 1px 4px #fff
}

.bot-header {
	padding:4px 0;
	position:relative;
	z-index:5
}
.bot-header .logo {
	font-size:16px;
	line-height:1.1em;
	color:#06969c;
	text-transform:uppercase;
	margin:9px 0 6px 0;
	white-space:nowrap
}
.bot-header .logo figure {
	margin-right:20px;
	max-width:220px;
	display:inline-block;
	vertical-align:middle
}
.bot-header .logo img {
	width:100%;
	max-height:100%
}
.bot-header .slogan-zelenka {
	letter-spacing:1px;
	display:inline-block;
	vertical-align:middle
}
.sity-main {
	font-size:16px;
	line-height:1.2em;
	position:relative;
	text-align:left;
	font-family: 'Roboto Condensed', sans-serif;
	display:inline-block;
	margin:4px 0 4px 0;
	z-index:4
}
.sity-main>a {
	text-decoration:none;
	display:inline-block;
	padding:6px 0 6px 26px;
	color:#06969c;
	text-transform:uppercase
}
.sity-main>a:before {
	content:'\f041';
	color:#f8d804;
	font-size:22px!important;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	position:absolute;
	left:0
}
.sity-main>a:after {
	content:'\f107';
	color:#06969c;
	font-size:22px!important;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	position:relative;top:1px;
	margin-left:5px
}
.sity-main ul {
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	min-width:260px;
	padding:20px;
	display:none;
	max-height: 342pt;
	overflow-y: scroll;
	border: 1px solid whitesmoke;
}
.sity-main ul li {
	padding:3px 0
}
.sity-main ul li a:hover {color:#f8d804}
.tel-top {
	font-size:16px;
	line-height:1.2em;
	position:relative;
	text-align:left;
	font-family: 'Roboto Condensed', sans-serif;
	display:inline-block;
	margin:4px 0 4px 32px
}
.tel-top>a {
	text-decoration:none;
	display:inline-block;
	padding:6px 0 6px 30px;
	color:#06969c
}
.tel-top>a:before {
	content:'\f095';
	color:#f8d804;
	font-size:22px!important;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	position:absolute;
	left:0
}

.location-form {
	background:#fff;
	border:2px solid #79c8c7;
	border-radius: 0 !important;
	padding:15px 26px 30px 26px;
	min-width:360px
}
.location-form .modal-header {
	border: 0;
}

.bell-form {
	background:#fff;
	border:2px solid #79c8c7;
	padding:44px 26px 30px 26px;
	min-width:360px
}
.tel-top .bell-form {
	position:absolute;
	top:100%;
	right:0;
	display:none
}
.bell-form .input-group, .location-form .input-group {
	display:block
}
.bell-form .form-control, .location-form .form-control {
	width:100%;
	border:1px solid #78c7c6;
	box-shadow:none;
	color:#5b5b5c;
	font-size:18px;
	font-family: 'Roboto', sans-serif;
	padding-left: 12px;
	padding-right: 12px;
	height: 42px;
	margin:0 0 8px 0
}
.bell-form .btn, .location-form .btn {
	font-size:16px;
	font-family: 'Roboto Condensed', sans-serif;
	box-shadow:none;
	background:#1b9fa7;
	color:#fff;
	text-transform:uppercase;
	border-radius:0;
	display:block;
	padding:14px 10px;
	width:100%;
	margin:0 0 8px 0
}
.bell-form .btn:hover, .location-form .btn:hover{background:#75bbba}

.top-search {
	background:#a0dedd;
	box-shadow:1px 0 2px rgba(255,255,255,0.6), inset 0 1px 9px rgba(0,0,0,0.2);
	display:inline-block;
	vertical-align:middle;
	position:relative;
	padding-right:40px
}
.top-search .form-group {
	display:inline-block;
	float:none
}
.top-search .input-group {white-space:nowrap}
.top-search .form-control {
	border:0;
	box-shadow:none;
	display:inline-block;
	float:none;
	border-radius:0;
	background:transparent;
	color:#7ca0b2;
	font-size:16px;
	text-shadow:1px 0 2px #fff;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform:uppercase;
	width:100%
}
.top-search .form-control:focus {text-shadow:none}
.top-search .btn {
	border-radius:0;
	border:0;
	background:transparent;
	width:42px;
	box-shadow:none;
	display:inline-block;
	float:none;
	position:absolute;
	right:-40px;top:-3px
}
.top-search .btn:before {
	content:'';
	background:#71bdbc;
	width:2px;
	height:28px;
	position:absolute;
	left:0;
	top:50%;
	box-shadow:1px 0 2px #fff;
	margin-top:-14px
}
.top-search .btn:after {
	content:'\f002';
	font-size:20px!important;
	color:#71bdbc;
	position:relative;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-shadow:1px 0 2px #fff
}

.search-all {
	min-height:98px;
	background:#3bb6bb url(../images/bg/bg-search.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	z-index:4;
	padding:20px 0;
	border:2px solid #06969c;
	margin-bottom:16px;
	/* overflow:hidden */

}
.search-all .input-group {
	width:100%;
	min-width:100%;
	border:2px solid #06969c;
	background:#fff;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-justify-content:space-between;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	margin:0 -2px
}
.input-group-item_search {
	-ms-flex-grow:3;
	-webkit-flex-grow:3;
	flex-grow:3;
	position:relative
}
.search-all .input-group .form-control {
	border-radius:0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
	text-transform:uppercase;
	padding-left: 20px;
	padding-right: 20px;
	border:0;
	text-overflow:ellipsis;
	position:relative;
	z-index:3;
	width:98%;
	margin-bottom:2px;
	height: 52px;
}
.btn-list-product {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
	color:#97abca;
	padding:14px 46px 12px 20px;
	letter-spacing:1.2px;
	border:2px solid transparent;
	border-bottom:0;
	border-radius:0
}
.btn-list-product:before {
	content:'';
	width:2px;
	height:38px;
	background:#06969c;
	display:block;
	position:absolute;
	right:0;top:50%;
	margin-top:-19px
}
.btn-list-product:after {
	content:'\f107';
	color:#06969c;
	font-size:22px!important;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	position:absolute;
	right:16px;margin-top:-5px
}
.search-all .input-group.open .btn-list-product {
	border-color:#70c4c3;
	background:#fff
}
.search-all .input-group.open .btn-list-product:before {
	height:6px;
	top:auto;
	bottom:-6px;
	width:100%;
	background:#fff;
	margin:0
}
.search-all .input-group.open .btn-list-product:after {content:'\f106';}
.btn-search-product {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
	color:#06969c;
	background:transparent;
	padding:14px 52px 12px 72px
}
.search-all .show-all a { color: #1b9fa7; }

.btn-search-product:after {
	content:'\f002';
	color:#0b989e;
	font-size:18px!important;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	position:absolute;
	left:24px;margin-top:-2px
}
.search-all .dropdown-menu {
	width:100%;
	padding:40px 50px;
	border-radius:0;
	border:2px solid #70c4c3;
	font-size:16px;
	line-height:1.3em;
	font-weight:400;
	background:#fff;
	box-shadow:none;
}
.search-all .dropdown-menu .h1 {margin:12px 0 16px 0}
.search-all .dropdown-menu ul {margin-bottom:20px}
.search-all .dropdown-menu li {padding:2px 0}
.search-all .dropdown-menu a {
	color:#222222;
	text-decoration:none
}
.search-all .dropdown-menu a:hover {text-decoration:underline}
.search-all .dropdown-menu .h1 a {color:#1b9fa7;text-decoration:none}

.dropdown-search {
	position:absolute;
	left:0;top:0;
	width:100%;
	background:#fff;
	padding:84px 24px 60px 24px;
	border:2px solid #70c4c3;
	margin:-2px 0 0 -2px;
	z-index:2;
	max-height:600px;
	overflow-y:auto;
	overflow-x:hidden
}
.dropdown-search:after {
	content:'';
	width:2px;
	height:100%;
	background:#70c4c3;
	position:absolute;
	right:-2px;top:0;
	z-index:4000
}
.dropdown-search_input {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-justify-content:space-between;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-align-items:center;
	-webkit-align-items:center;
	align-items:center;
	-ms-flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	border-top:1px solid #e7e7ea;
	padding:12px 20px;
	font-size:18px;
	line-height:1.2em;
	color:#000;
	font-weight:400
}
.dropdown-search_input:first-child {border:0}
.dropdown-search_input figure {
	width:100px;
	height:82px;
	line-height:130px;
	text-align:center;
	-ms-flex-basis:100px;
	-webkit-flex-basis:100px;
	flex-basis:100px;
}
.dropdown-search_input figure img {
	width:100%;
	max-width:86px;
	max-height:100%
}
.name-product-search {
	padding:0 10px;
	-ms-flex-basis:280px;
	-webkit-flex-basis:280px;
	flex-basis:280px;
}
.name-product-search a {
	color: #0a0a0a;
	text-decoration: none;
}
.name-product-search p {padding:0}
.dropdown-search_input .price {
	font-size:36px;
	line-height:1.2em;
	font-weight:700;
	-ms-flex-basis:140px;
	-webkit-flex-basis:140px;
	flex-basis:140px;
}
.dropdown-search .btn-basket, .dropdown-search .btn-green {
	-ms-flex-basis:140px;
	-webkit-flex-basis:140px;
	flex-basis:140px;
}

.page {
	background:#ffffff;
	min-height:100%;
	width:100%;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.container-fluid {max-width:1400px}

.middle {
	width: 100%;
	/* position: relative; */
	-ms-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	padding-top:10px;
	z-index:1
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}

.navbar {
	border:0;
	box-shadow:none;
	box-shadow:none
}
.navbar-default {
	font-size:14px;
	line-height:1.2em;
	font-weight:400;
	box-shadow:none;
	background-color:#fff;border:0;
	background-image:none
}
.nav-main {
	display:table!important;
	width:100%!important;
	float:none;
	position:relative
}
.nav-main > li {
	display:table-cell;
	text-align:center;
	float:none;
	padding:0 3px;
	position:static
}
.nav-main > li:first-child {padding-left:0}
.nav-main > li:last-child {padding-right:0}
.nav-main> li > a {
	text-decoration:none;
	color:#0b3264;
	display:block;
	background:#fff;
	border:2px solid #addddc;
	padding:6px 8px;line-height:1.2em;
	position:relative;
	text-transform:uppercase;
	font-family: 'Roboto Condensed', sans-serif
}
.nav-main> li > a:after {
	content:'\f107';
	width:20px;
	height:20px;
	text-align:center;
	font-size:20px!important;
	line-height:20px;
	color:#acdddc;
	position:relative;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	background:#fff;
	border-radius:50%;
	position:absolute;
	left:50%;margin-left:-11px;
	bottom:-12px
}
.nav-main> li.open a {
	z-index:200;
	border-bottom-color:#fff
}
.nav-main> li.open > a:before {
	content:'';
	height:5px;
	width:100%;
	background:#fff;
	position:absolute;
	left:0;bottom:0
}
.nav-main .dropdown-menu {
	width:100%;
	left:0;
	border:2px solid #acdddc;
	border-radius:0;
	margin:-3px 0 0 0;
	z-index:100;
	padding:20px 20px 40px
}
.nav-main .dropdown-menu .row {
	margin-left:0;
	margin-right:0
}
.nav-main .dropdown-menu .row  [class^="col-"], .nav-main .dropdown-menu .row  [class*=" col-"] {
	padding-left:15px;
	padding-right:15px
}
.nav-main .dropdown-menu ul {
	font-size:18px;
	line-height:1.2em;
	margin-bottom:30px
}
.nav-main .dropdown-menu ul li {padding:6px 0}
.nav-main .dropdown-menu ul a {
	text-decoration:none;
	color:#000
}
.xit-sale {
	font-size:16px;
	line-height:1.1em;
	font-weight:400;
	color:#000
}
.xit-sale_item {
	max-width:400px;
	border-top:1px solid #a4a4a4;
	padding:10px 0
}
.xit-sale_item .btn {
	display:block;
	padding-left:6px;
	padding-right:6px
}
.xit-sale_item:first-child {border:0}
.xit-sale_item figure {
	line-height:0;
	max-width:80px;
	margin:0 auto;
	text-align:center;
	height:100px
}
.xit-sale_item figure a {
	text-decoration:none;
	display:table-cell;
	height:100px;
	vertical-align:middle
}
.xit-sale_item figure img {
	width:100%;
	max-height:100%
}
.xit-sale_info {
	text-align:left
}
.xit-sale_item .price {
	font-size:36px;
	line-height:1.2em;
	display:block;
	margin-bottom:6px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.xit-sale_text {}
.xit-sale_text p, .action-sale_text p {padding:0}

.action-sale {
	font-size:16px;
	line-height:1.1em;
	font-weight:400;
	color:#000
}
.action-sale_item {
	max-width:400px;
	border:2px solid #acdddc;
	padding:10px 0;
	margin-bottom:10px
}
.action-sale_item .btn {display:block}
.action-sale_item_top {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-justify-content:space-between;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-align-items:center;
	-webkit-align-items:center;
	align-items:center;
	padding:10px
}
.action-sale_item_top figure {
	line-height:0;
	min-width:80px;
	position:relative
}
.action-sale_item_top figure img {
	width:100%;
	max-height:100%
}
.action-sale_text {padding:0 8px}
.action-sale_item .price {
	font-size:36px;
	line-height:1em;
	display:block;
	text-align:center;
	margin-bottom:4px
}
.rub-no {
	font-size:0.6em;
	color:#c2c2c2;
	position:relative;
	top:-0.5em
}

.group-banner {margin-bottom:10px}
.zelenka-baner {
	min-height:276px;
	line-height:266px;
	background:#1ca2b0 url(../images/bg/zelenka-baner-bg.jpg) 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size:14px;
	text-transform:uppercase;
	color:#fff;
	text-align:center
}
.zelenka-baner-logo {
	display:inline-block;
	vertical-align:middle;
	border:5px solid #d3dfee;
	min-height:150px;
	line-height:1.2em;
	padding:30px 16px 20px 24px
}
.zelenka-baner-logo .logo {
	display:block;
	line-height:0;
	max-width:200px;
	margin:0 auto 16px;
	position:relative
}
.zelenka-baner-logo .logo img {
	width:100%;
	max-height:100%
}
.zelenka-baner-logo .logo:before {
	content:'';
	position:absolute;
	left:0;
	bottom:-6px;
	width:100%;
	height:2px;
	background:#d3dfee
}
.slogan-zelenka {
	font-size:14px;
	line-height:1.2em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
	padding:6px 0
}
.slogan-zelenka li {
	display:inline-block;
}
.slogan-zelenka li:before {
	content:'\*';
	position:relative;
	top:2px;
	margin-right:3px
}
.slogan-zelenka li:first-child:before {display:none}

.breadcrumb {
	font-size:16px;
	line-height:1.42em;
	text-transform:uppercase;
	background:none;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
	color:#95c3c3;
	padding:8px 0
}
.breadcrumb .active {color:#c6cdd7}
.breadcrumb li a {
	color:#95c3c3;
	text-decoration:none
}
.breadcrumb li+li:before {
	content:'\f105';
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.sorting {
	font-size:18px;
	line-height:1.2em;
	margin-bottom:8px
}
.sorting_item {
	color:#cad1da;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:2px;
	padding:10px 0
}
.sorting_item > span, .sorting_item ul {
	display:inline-block;
	vertical-align:middle
}
.sorting_item > span {margin-right:10px}
.sorting_item ul li {margin-right:6px}
.sorting_item ul li a {
	color:#cad1da;
	text-decoration:none
}
.sorting_item ul li.active a {color:#94c3c2}
.sorting_icon_group {
	color:#cad1da;
	padding:10px 0;
	font-size:16px
}
.sorting_icon_group a {
	color:#cad1da
}
.sorting .sorting_icon_group {float:right}
.sorting-bot .sorting_icon_group {
	padding:0;
	display:inline-block;
	vertical-align:middle
}
.sorting_icon_group ul li {
	cursor:pointer
}
.sorting_icon_group ul li.active {cursor:default;color:#96c4c3}
.sorting-bot {text-align:right;margin-bottom:10px;padding:10px 0}

.medicine-group-search {
	padding:10px 0
}
.medicine-group-search .hgroup {margin-bottom:26px}
.medicine-group-search_item {
	margin-bottom:18px;
	padding:10px 0
}
.medicine-group-search_item ul {
	font-size:24px;
	line-height:1.2em;
	font-weight:100;
	-moz-column-width:33%;
	-moz-column-count:3;
	-moz-column-gap:10px;
	-webkit-column-width:33%;
	-webkit-column-count:3;
	-webkit-column-gap:10px;
	column-width:33%;
	column-count:3;
	column-gap:10px;
}
.medicine-group-search_item ul li {
	margin:0 0 16px 0;
	position:relative;
}
.medicine-group-search_item ul li a {
	color:#222222;
	text-decoration:none;
}

.medicine-group-search_item ul li [class^="icon-"], .medicine-group-search_item ul li [class*="icon-"]  {
	-ms-flex-basis:66px;
	-webkit-flex-basis:66px;
	flex-basis:66px;
	min-width:66px;
	width:66px;
	font-size:30px;
	text-align:center;
	top:0;
    margin:0;
}
.medicine-group-search_item ul li span {
	display:inline-block;
	background:#e9fafa;
	padding:7px 24px;
	width:calc(100% - 78px);
	width:-moz-calc(100% - 78px);
	width:-webkit-calc(100% - 78px);
}
.medicine-group-search_item ul li .btn-view {margin:6px 0}

.icon-acne:before {content:'\e841'}
.icon-serdce:before {content:'\e848'}
.icon-allergia:before {content:'\e84d'}
.icon-zrenie:before {content:'\e842';font-size:0.6em!important}
.icon-ves:before {content:'\e849'}
.icon-orz:before {content:'\e84f'}
.icon-varicoz:before {content:'\e851'}
.icon-diabet:before {content:'\e839'}
.icon-yazva:before {content:'\e850'}

.pagination {
	border:0;
	font-weight:700
}
.sorting .pagination {
	padding:2px 0;
	margin:0;
	float:left
}
.sorting-bot .pagination {
	padding:2px 0;
	margin:0;
	display:inline-block;
	vertical-align:middle
}
.pagination a {
	border:0!important;
	color:#d0d6de!important;
	padding-left:8px!important;
	padding-right:8px!important
}
.pagination>.disabled>span,.pagination>.disabled>span:hover {border-color:white}
.pagination li.active a, .pagination a:hover, .pagination a:active {color:#94c3c2!important;background:none!important}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;
color:#94c3c2!important;background:none!important}

.btn {position:relative;text-decoration:none;text-align:center}
.btn-view {
	text-decoration:none;
	color:#27d0d2!important;
	border:2px solid #27d0d2;
	text-transform:uppercase;
	border-radius:0;
	font-size:16px;
	font-weight:400;
	padding:3px 12px;
	font-family: 'Roboto Condensed', sans-serif;
	line-height:1.333em
}
.btn-view:hover {
	background:#d0f5f5;
	color:#84bfdf
}
.btn-basket, .btn-green {
	background:#1b9fa7;
	color:#fff;
	font-size:16px;
	border:1px solid #1b9fa7;
	line-height:1.42em;
	text-transform:uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:700;
	letter-spacing:1px;
	padding:5px 26px 4px 26px
}
.btn-basket:hover, .btn-green:hover {background:#0e747a}
.btn-basket.active, .btn-basket.active:hover, .btn-green.active, .btn-green.active:hover {background:#fff;color:#1ea6b1}
.btn-analog {
	/*background:#27d0d2;*/
	/*color:#fff;*/
	color:#009da4;
	font-size:16px !important;
	border:0;
	height:28px;
	line-height:28px;
	text-transform:uppercase;
	padding:0;
	border-radius:0;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing:1px;
	font-weight:700;
	width:102px
}
/*.btn-analog:before, .btn-analog:after {*/
	/*content: '';*/
	/*position: absolute;*/
	/*display: block;*/
	/*bottom:0;*/
	/*border: 14px solid #27cfd2;*/
/*}*/
/*.btn-analog:before {*/
   /*left: -1em;*/
   /*border-right-width: 1em;*/
   /*border-left-color: transparent*/
   /*}*/
/*.btn-analog:after {*/
   /*right: -1em;*/
   /*border-left-width: 1em;*/
   /*border-right-color: transparent*/
/*}*/

.raiting {
	display:inline-block;
	vertical-align:middle;
	white-space:nowrap
}
/* 08.09 */
.raiting i {margin-right:2px}
/* */
.fa-star {color:#ffc215}
.no-star {color:#e2e2e2}

.btn,.action-item {
	 -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tooltip-inner {
	background:#7bafb1;
	font-size:18px;
	line-height:1.2em;
	padding:6px 12px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
	max-width:480px
}
.card-main_info .tooltip-inner {text-transform:uppercase}
.tooltip.top .tooltip-arrow{border-top-color:#7bafb1}.tooltip.top-left .tooltip-arrow{border-top-color:#7bafb1}.tooltip.top-right .tooltip-arrow{border-top-color:#7bafb1}.tooltip.right .tooltip-arrow{border-right-color:#7bafb1}.tooltip.left .tooltip-arrow{border-left-color:#7bafb1}.tooltip.bottom .tooltip-arrow{border-bottom-color:#7bafb1}.tooltip.bottom-left .tooltip-arrow{border-bottom-color:#7bafb1}.tooltip.bottom-right .tooltip-arrow{border-bottom-color:#7bafb1}

/* footer */
.footer {
	width:100%;
	padding:28px 0;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	background:#3bb6bb url(../images/bg/bg-search.jpg) repeat;
	color:#fff
}
.footer a {
	text-decoration:none;
	color:#fff
}
.footer .h1 {font-weight:400}
.footer .logo {
	display:inline-block;
	text-decoration:none;
	max-width:266px;
	margin:11px 0
}
.footer .logo img {
	width:100%;
	max-height:100%
}
.tel-foot {
	font-size:35px;
	line-height:1.2em;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom:20px
}
.tel-foot a  {
	color:#fff;
	text-decoration:none
}
.order-bell {
	color:#bbe8e8;
	text-decoration:none;
	font-size:18px;
	line-height:1.2em;
	font-family: 'Roboto Condensed', sans-serif;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	border:2px solid #bbe8e8;
	padding:10px 10px 8px 10px;
	text-transform:uppercase
}
.footer .order-bell {display:block}
.we-social {padding:2px 0 8px 0}
.we-social .h1 {
	font-family: 'Roboto Condensed', sans-serif
}
.social {padding:14px 0}
.social a {
	text-decoration:none;
	display:inline-block;
	vertical-align:middle;
	margin:0 6px 6px
}
.footer .social a {
	color:#fff
}
.social a:hover {color:#0c7980}
.we-social .social {
	display:-ms-flex;
	display:-webkit-flex;
	display:flex;
	-ms-justify-content:space-between;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
.down-group {
	display:-ms-flex;
	display:-webkit-flex;
	display:flex;
	-ms-justify-content:space-between;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-ms-flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	padding:8px 0
}
.group-menu-footer {
	font-size:16px;
	line-height:1.2em
}
.group-menu-footer li {padding:8px 0}
.group-menu-footer a:hover {text-decoration:underline}

.kop {
	font-size:0.6em;
	color:#8e8e8e
}

.main-form-tabs {
	font-size:24px;
	line-height:1.2em;
	color:#d9d9d9;
	letter-spacing:1.2px;
	text-transform:uppercase;
	display:inline-block;
	position:relative;
	margin:16px 0;
	padding:0;
	font-weight:400
}
.main-form-tabs li {
	display:inline-block;
	cursor:pointer;
	position:absolute;
	padding:0 2px 0
}
.main-form-tabs li:last-child {left:100%;top:0}
.main-form-tabs li:first-child {right:100%;top:0}
.main-form-tabs li.active {
	cursor:default;
	color:#000;
	position:static
}
.main-form-tabs li+li:before {content:'\/';color:#d9d9d9;margin-right:4px}
.main-form-box {display:none;text-align:center;font-weight:400;color:#000}
.code-tabs li {cursor:default}
.code-tabs:after {
	content:'';
	position:absolute;
	width:100%;height:100%;
	right:100%;top:0
}
.main-form-box.visible {display:block}

.main-form-box .form-control {text-align:center}
.main-form-box a {color:#9bcecd}
.main-form .clearfix .jq-checkbox {float:left;margin-top:5px}
.main-form .input-group.inline-block {
	display:inline-block;
	width:auto;
	text-align:left
}
.main-form .input-group.clearfix {padding:10px 0}
.main-form .input-group.clearfix label {
	display:block;
	margin-left:25px;
	text-align:left
}
.info-main-form {margin:16px 0}
.light-text {font-weight:300}

.close {
	opacity:1;
	position:absolute;
	right:0;top:0
}
.close:before {
	content:'';
	display:block;
	background:url(../images/bg/off.png) no-repeat;
	width:15px;height:15px
}


.like-action {
	color:#cecfd1;
	font-size:28px !important;
	font-family:'FontAwesome';
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	top:-2px;
	margin:0 2px;
	cursor:pointer
}
.news-articles .like-action {font-size:20px !important;}
.like-action:before {content:'\f08a'}
.like-action.active, .like-action:hover:before {
	color:#28d0d3;
	text-shadow:1px 2px 3px #22988a
}
.like-action.active:before, .like-action:hover:before {content:'\f004'}
.action-item .like-action {
	position:absolute;
	top:16px;right:16px
}
.item-delivered {
	width:36px;
	height:36px;
}
#item-card .item-delivered {
	position: relative;
	top: 90px;
	left: -20px;
	float: right;
}

.price-plus {
	width:53px;
	height:53px;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	top:-4px;
	font-weight:700;
	border-radius:50%;
	text-align:center;
	font-size:25px;
	line-height:53px;
	color:#fff;
	background:#fade00 url(../images/bg/icon-plus.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow:2px 2px 0 #b7932a;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.w-38 {
	width:38px;
	height:38px;
}
.price-plus.w-38 {
	font-size:18px;
	line-height:38px;
}
.social-group {
	padding:20px 0
}
.social-group > p {margin-bottom:14px}
[class^="soc-"], [class*=" soc-"] {
	width:62px;
	height:62px;
	text-decoration:none;
	display:inline-block;
	vertical-align:middle
}
.social-group [class^="soc-"],.social-group [class*=" soc-"] {margin:4px 20px}
.soc-ff {
	background:url(../images/bg/ff.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.soc-tvt {
	background:url(../images/bg/tvt.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.soc-google {
	background:url(../images/bg/gogle.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.soc-ok {
	background:url(../images/bg/ok.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.soc-vk {
	background:url(../images/bg/vk.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* 23.07 */
.articles {
	padding:12px 26px;
	border-width:7px;
	border-style:solid;
	border-color:transparent;
	margin-bottom:26px;
	font-weight:400
}
.articles-green {
	color:#009da4;
	border-color:#009da4
}
.articles-red {
	color:#f1737b;
	border-color:#f1737b
}
.articles-blue {
	color:#6fcef2;
	border-color:#6fcef2
}
.articles-yellow {
	color:#e1d573;
	border-color:#e1d573
}
.bold {
	font-weight: bold;
}

@media (max-width:1199px) {
	.menu-top {display:none}
	.group-menu-search {display:block}
	.footer .h1 {
		font-size:20px;
		line-height:1.2em
	}
	.tel-foot {
		font-size:30px;
		line-height:1.2em;
		text-align:center
	}
	.order-bell {
		font-size:14px;
		line-height:1.2em
	}
	.dropdown-search_input figure {
		-ms-flex-basis:40%;
		-webkit-flex-basis:40%;
		flex-basis:40%;
	}
	.name-product-search {
		-ms-flex-basis:60%;
		-webkit-flex-basis:60%;
		flex-basis:60%;
	}
	.dropdown-search_input .price {
		-ms-flex-basis:40%;
		-webkit-flex-basis:40%;
		flex-basis:40%;
		text-align:center
	}
	.dropdown-search .btn-basket, .dropdown-search .btn-green {
		-ms-flex-basis:60%;
		-webkit-flex-basis:60%;
		flex-basis:60%;
	}
	.dropdown-search_input .price, .dropdown-search .btn-basket, .dropdown-search .btn-green {
		-ms-flex-basis:100%;
		-webkit-flex-basis:100%;
		flex-basis:100%;
	}
	.sorting .sorting_icon_group, .sorting .pagination {clear:both;float:right}
	.sorting .sorting_icon_group {padding:0}
	.sorting_item > span {margin-bottom:11px;display:block}
	.medicine-group-search_item ul {
		font-size:20px;
		line-height:1.2em
	}
	.medicine-group-search_item ul li span {
		padding:8px 24px
	}
	.medicine-group-search ul li .btn-view {margin:2px 0}
}
@media (max-width:991px){
	.bot-header .logo {
		display:block
	}
	.drop-down-sections-top {
		width: 550px;
		padding:18px 20px;
		font-size:17px;
		line-height:1.3em
	}
	.drop-down-sections-top .h1 {margin-bottom:10px}
	.main-info {padding-top:4px}
	.tel-top {margin-left:12px}
	.basket-link {margin-left:6px}
	.basket-link .price {
		font-size:20px;
		line-height:1.2em;
		margin-left:6px
	}
	.basket-link_icon {
		display:inline-block;
		vertical-align:middle;
		height:34px;
		width:48px;
		line-height:33px;
		margin-right:10px
	}
	.basket-link_icon:before {font-size:44px!important}
	.like-icon {
		width:38px;
		height:34px;
		line-height:35px;
		margin-right:10px
	}
	.like-icon:before {font-size:42px!important}
	.in-sity {
		font-size:14px;
		line-height:1.2em;
		margin-right:8px
	}
	.in-sity > a {
		height:34px;
		line-height:37px;
		padding-left:34px
	}
	.in-sity > a:before {
		font-size:38px!important;
		position:absolute;
		left:0;top:-3px
	}
	.bot-header .logo {
		font-size:14px;
		line-height:1.1em
	}
	.group-menu-footer {
		font-size:14px;
		line-height:1.2em
	}
	.tel-foot {text-align:left}
	.nav-main > li {
		padding:0 1px;
		font-size:12px;
		line-height:1.2em
	}
	.nav-main> li > a {
		padding:6px 2px
	}
	.medicine-group-search_item ul {
		font-size:16px;
		line-height:1.2em
	}
	.medicine-group-search_item ul li span {
		padding:10px 10px
	}
	.dropdown-menu > .row > .col-sm-6:nth-child(3) {clear:both}
	.medicine-group-search_item ul {
		-moz-column-width:48%;
		-moz-column-count:2;
		-moz-column-gap:6px;
		-webkit-column-width:48%;
		-webkit-column-count:2;
		-webkit-column-gap:6px;
		column-width:48%;
		column-count:2;
		column-gap:6px
	}
	.sity-main {
		font-size: 14px;
	}
}
@media (max-width:767px){
	.top-search {float:right}
	.drop-down-sections-top {width:290px}
	.bot-header .logo {
		display:block;
		padding-top:4px
	}
	.bot-header .logo figure {
		margin:0;
		max-width:none
	}
	.sity-main {
		margin: 0;
	}
	.tel-top {
		margin:16px 0 10px 12px
	}
	.tel-top>a {
		padding:4px 0 4px 24px
	}
	.tel-top>a:before {font-size:20px!important}
	.sorting_item > span {margin:0;display:inline-block}
	.sorting .sorting_icon_group, .sorting .pagination {clear:none;float:left}
	.sorting .sorting_icon_group {padding:10px 0;float:right}
	.btn-list-product {
		font-size:0;
		padding-left:20px;
		padding-right:10px;
		text-align:center
	}
	.btn-search-product {
		padding:14px 32px 12px 42px
	}
	.btn-search-product:after {
		left:14px
	}
	.medicine-group-search_item {
		margin-bottom:0
	}
	.sity-main > a {
		font-size: 0;
	}
	.sity-main > a:after {
		content: '';
	}
	.sity-main > a:before {
		color: #ffde00;
		line-height:35px;
		font-size: 38px !important;
		text-shadow: 1px 1px 4px #fff;
		top: 0;
		margin: 0;
	}
}
@media (max-width:640px){
	.bot-header [class^="col-"], .bot-header [class*=" col-"] {
		width:100%
	}
	.top-header > .container-fluid > .row > .col-xs-11 > .row > .col-xs-5 {
		width:50%
	}
	.top-header > .container-fluid > .row > .col-xs-11 > .row > .col-xs-7 {
		width:50%
	}
	.bot-header .logo{
		margin:0 auto;
		margin-top:12px;
		max-width:226px
	}
	.bot-header .text-right {text-align:center}
	.footer .col-xs-6 {width:100%}
	.dropdown-search_input figure, .name-product-search{
		-ms-flex-basis:100%;
		-webkit-flex-basis:100%;
		flex-basis:100%;
	}
	.name-product-search {padding:12px 0}
	.medicine-group-search_item ul {
		-moz-column-width:100%;
		-moz-column-count:1;
		-moz-column-gap:0;
		-webkit-column-width:100%;
		-webkit-column-count:1;
		-webkit-column-gap:0;
		column-width:100%;
		column-count:1;
		column-gap:0
	}
}

@media (max-width:640px){
	.main-info {padding-top:3px}
	.top-header > .container-fluid > .row > .col-xs-1 {
		width:20%
	}
	.top-header > .container-fluid > .row > .col-xs-11 {
		width:80%
	}
	.top-header > .container-fluid > .row > .col-xs-11 > .row > .col-xs-5 {
		width:45%
	}
	.top-header > .container-fluid > .row > .col-xs-11 > .row > .col-xs-7 {
		width:55%
	}
	.lgpos{
		position: relative;
		top: 4px;
		left: 6px;
		display: inline-block;
		z-index: 5;
	}
	.b-top-logo {
	 padding-top: 0px;

	}
	.list-sections-top {
		top: -8px;
	}
	.b-top-logo .logo {display:none}
	.logos {display: block !important;}

	.basket-link {margin-left:4px}
	.basket-link .price {
		font-size:0;
		line-height:1.2em;
		margin-left:6px
	}
	.basket-link_icon {
		display:inline-block;
		vertical-align:middle;
		height:32px;
		width:46px;
		line-height:31px;
		margin-right:8px
	}
	.basket-link_icon:before {font-size:44px!important}
	.like-icon {
		width:36px;
		height:32px;
		line-height:33px;
		margin-right:8px
	}
	.like-icon:before {font-size:42px!important}
	.in-sity {
		font-size:13px;
		line-height:1.2em;
		margin-right:4px
	}
	.in-sity > a {
		height:32px;
		line-height:35px;
		padding-left:32px;
		font-size: 0;
	}
	.in-sity > a:before {
		font-size:36px!important;
		position:absolute;
		left:0;top:-3px
	}
	.footer .col-xs-4 {width:100%}
	.footer .logo {margin:26px 0 8px 0}
	.we-social .h1 {margin-bottom:0}
	.footer ul li {
		display:inline-block;
		padding:0;
		margin:0 14px 7px 0
	}
	.bell-form, .location-form {min-width:300px}
	.tel-top .bell-form {
		position:fixed;
		top:auto
	}
	.sity-main > a:before {
		font-size: 38px !important;
		margin: 0;
	}
}

.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-thumbs-down:before { content: '\e805'; } /* '' */
.icon-thumbs-up:before { content: '\e806'; } /* '' */
.icon-trash-empty:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-star-1:before { content: '\e80b'; } /* '' */
.icon-user-outline:before { content: '\e80c'; } /* '' */
.icon-user-2:before { content: '\e80d'; } /* '' */
.icon-star-empty:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-ok-1:before { content: '\e810'; } /* '' */
.icon-home-outline:before { content: '\e811'; } /* '' */
.icon-loop-outline:before { content: '\e812'; } /* '' */
.icon-loop:before { content: '\e813'; } /* '' */
.icon-quote-left:before { content: '\e814'; } /* '' */
.icon-mail-1:before { content: '\e815'; } /* '' */
.icon-quote-right:before { content: '\e816'; } /* '' */
.icon-photo:before { content: '\e817'; } /* '' */
.icon-pencil:before { content: '\e818'; } /* '' */
.icon-paper-plane:before { content: '\e819'; } /* '' */
.icon-skype-outline:before { content: '\e81a'; } /* '' */
.icon-skype:before { content: '\e81b'; } /* '' */
.icon-location-outline:before { content: '\e81c'; } /* '' */
.icon-location-1:before { content: '\e81d'; } /* '' */
.icon-cog-alt:before { content: '\e81e'; } /* '' */
.icon-cog:before { content: '\e81f'; } /* '' */
.icon-location-2:before { content: '\e820'; } /* '' */
.icon-paper-plane-1:before { content: '\e821'; } /* '' */
.icon-pencil-1:before { content: '\e822'; } /* '' */
.icon-pinterest:before { content: '\e823'; } /* '' */
.icon-at:before { content: '\e824'; } /* '' */
.icon-mail:before { content: '\e825'; } /* '' */
.icon-star:before { content: '\e826'; } /* '' */
.icon-globe:before { content: '\e827'; } /* '' */
.icon-mobile:before { content: '\e828'; } /* '' */
.icon-rub:before { content: '\e829'; } /* '' */
.icon-user-1:before { content: '\e82a'; } /* '' */
.icon-reply:before { content: '\e82b'; } /* '' */
.icon-key:before { content: '\e82c'; } /* '' */
.icon-key-1:before { content: '\e82d'; } /* '' */
.icon-down-open-big:before { content: '\e82e'; } /* '' */
.icon-left-open-big:before { content: '\e82f'; } /* '' */
.icon-right-open-big:before { content: '\e830'; } /* '' */
.icon-up-open-big:before { content: '\e831'; } /* '' */
.icon-note:before { content: '\e832'; } /* '' */
.icon-doc:before { content: '\e833'; } /* '' */
.icon-forward:before { content: '\e834'; } /* '' */
.icon-reply-1:before { content: '\e835'; } /* '' */
.icon-close2:before { content: '\e836'; } /* '' */
.icon-key-outline:before { content: '\e837'; } /* '' */
.icon-key-2:before { content: '\e838'; } /* '' */
.icon-blood:before { content: '\e839'; } /* '' */
.icon-boat1:before { content: '\e83a'; } /* '' */
.icon-bone:before { content: '\e83b'; } /* '' */
.icon-brain1:before { content: '\e83c'; } /* '' */
.icon-butt-wearing:before { content: '\e83d'; } /* '' */
.icon-clean:before { content: '\e83e'; } /* '' */
.icon-condom3:before { content: '\e83f'; } /* '' */
.icon-ear:before { content: '\e840'; } /* '' */
.icon-epidermis:before { content: '\e841'; } /* '' */
.icon-eye3:before { content: '\e842'; } /* '' */
.icon-fire:before { content: '\e843'; } /* '' */
.icon-hand:before { content: '\e844'; } /* '' */
.icon-hand3:before { content: '\e845'; } /* '' */
.icon-hand-showing:before { content: '\e846'; } /* '' */
.icon-healthcare:before { content: '\e847'; } /* '' */
.icon-heartbeat:before { content: '\e848'; } /* '' */
.icon-libra:before { content: '\e849'; } /* '' */
.icon-lightning:before { content: '\e84a'; } /* '' */
.icon-nose:before { content: '\e84b'; } /* '' */
.icon-patch:before { content: '\e84c'; } /* '' */
.icon-pet:before { content: '\e84d'; } /* '' */
.icon-prostate:before { content: '\e84e'; } /* '' */
.icon-scarf:before { content: '\e84f'; } /* '' */
.icon-stomach:before { content: '\e850'; } /* '' */
.icon-tiptoe-feet:before { content: '\e851'; } /* '' */
.icon-tooth:before { content: '\e852'; } /* '' */
.icon-urine:before { content: '\e853'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */

.icn-astma { background: transparent url(/i/disease/astma_45.png) no-repeat 13px 0px; }
.icn-astma { background: transparent url(/i/disease/astma_45.png) no-repeat 13px 0px; }
.icn-demenciya { background: transparent url(/i/disease/demenciya_45.png) no-repeat 13px 0px; }
.icn-depression { background: transparent url(/i/disease/depression_45.png) no-repeat 13px 0px; }
.icn-dermatologiya { background: transparent url(/i/disease/dermatologiya_45.png) no-repeat 13px 0px; }
.icn-memory { background: transparent url(/i/disease/memory_45.png) no-repeat 13px 0px; }
.icn-andocrine { background: transparent url(/i/disease/andocrine_45.png) no-repeat 13px 0px; }

.medicine-group-search_item ul li [class^="icn-"], .medicine-group-search_item ul li [class*="icn-"] {
    content: '';
    -ms-flex-basis: 66px;
    -webkit-flex-basis: 66px;
    flex-basis: 66px;
    width: 66px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    height: 45px;
}

.search-all .show-all a { color: #1b9fa7; }

.bell-form .close, .location-form .close {
    right:8px;top:8px
}
.form-control:focus {
	box-shadow: none;
}
.single-item-desc em {
	font-style: italic;
}

.fa.fa-question-circle.articles-red:hover{
	color: #009da4;
}
.btn-locality.focus {
    outline: none;
}

.profile-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}


@media (max-width:900px) {
    .profile-text {
        max-width: 150px;
    }
}
