.slider__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 20px;
  flex-direction: column;
   @include media-tablet {
       padding-left: 24px;
    }

    padding-top: 20px;
    
}

* {box-sizing:border-box}

/* Slideshow container */


/* Hide the images by default */
.mySlides {
    display: none;

    display: flex;
    align-items: center;
    justify-content: center;
}


.slideshow-container {
  position: relative;
  max-width: $slider-width;
}
/* NextOne & PrevOneious buttons */
.PrevOne, .NextOne {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 5px 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "NextOne button" to the right */
.NextOne {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.PrevOne:hover, .NextOne:hover {
  background-color: rgba(0,0,0,0.8);
}

.slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: $slider-width;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.slide_pic {
  max-width: $slider-width;
  max-height: 393px;

  border-radius: 10px;
}