.template-title h3 {
    font-weight: 300;
}

.temp-name {
    font-weight: bold;
    text-transform: uppercase;
}

.temp-img {
    max-height: 190px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

}

.template-image {
    width: 260px;
    height: 200px;



    display: flex;
    justify-content: center;
    align-items: center;


    border: 1px solid #e8ecef;
}

.template-info {
    color: #a0a0a0;
    @include font($size: 1.9rem, $height: 2.6rem);
    
    padding-left: 10px;

    position: relative;
    top: -4px;

    max-width: 800px;
}

.template-info span {
    color: #7bafb1;
    font-weight: 700;
    @include font($size: 1.7rem, $height: 2.6rem);
    word-wrap: break-word;
}

.info-content-wrapper {
    display: flex;

}

.analog {
    margin: auto;

    position: relative;
}

.analog-item {
    display: flex;

    flex-wrap: wrap;
    font-size: 14px;
    line-height: 1.2em;

    padding-right: 40px;
    position: relative;
    border: 1px solid #e8ecef;
}

.analog-item-info {
    position: relative;

    padding-top: 30px;
}
.analog-item-info .info-mnn {
    position: absolute;
    bottom: 35px;
}

.analog-img {
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.analog-img .temp-img {
    width: 110px;
    height: 110px;
}

.analog h1 {
    margin: 0;
    padding: 0;

    position: relative;
    top: -12px;
}

.info-compound ul {
    list-style:disc;
    position: relative;
    right: -20px;
    
}


.info-compound ul li {
    color: #7bafb1;
    font-weight: 700;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.6rem;
    word-wrap: break-word;
    max-width: 900px;
}